<div class="container">
  <app-my-nav></app-my-nav>

  <!--div style="margin: 5em;">
  <button (click)="login()" *ngIf="!token">Login</button>
  <br>
  <button (click)="logout()" *ngIf="token">Logout</button>
</div-->

  <div>
    <br />
    <br />
    <div class="jumbotron">
      <h1 class="display-4">Hi, there!</h1>
      <section>
        <div class="example-button-row">
          <button
            *ngIf="!signIn"
            mat-raised-button
            color="primary"
            (click)="login()"
          >
            Login
          </button>
          <button
            *ngIf="signIn"
            mat-raised-button
            color="primary"
            (click)="logout()"
          >
            Logout
          </button>
        </div>
      </section>
    </div>
  </div>

  <br />

  <table>
    <tr>
      <td><h2>Access Token :</h2></td>
      <td>
        <textarea *ngIf="accessToken">{{ accessToken }}</textarea>
      </td>
      <td>
        <span
          ><button mat-raised-button (click)="tokenInfo()">
            Validate
          </button></span
        >
      </td>
      <td>
        <span
          ><button mat-raised-button (click)="tokenInfo()">Revoke</button></span
        >
      </td>
    </tr>
    <tr>
      <td><h2>Refresh Token :</h2></td>
      <td>
        <textarea>{{ refreshToken }}</textarea>
      </td>
      <td>
        <span
          ><button mat-raised-button (click)="getAccessTokenByRefresh()">
            Refresh
          </button></span
        >
      </td>
    </tr>
    <tr>
      <td><h2>User Details :</h2></td>
      <td>
        <textarea>{{ userInfo }}</textarea>
      </td>
      <td>
        <span><button mat-raised-button (click)="tokenInfo()">Get</button></span>
      </td>
    </tr>
    <tr>
      <td><h2>Expires At :</h2></td>
      <td style="color: blueviolet">
        <b>{{ expires_at }}</b>
      </td>
    </tr>
    <tr>
      <td><h2>New Tokens:</h2></td>
      <td>
        <textarea>{{ newTokens }}</textarea>
      </td>
    </tr>
    <tr>
      <td><h2>Redis Cache data:</h2></td>
      <td>
        <textarea>{{ redisCache }}</textarea>
      </td>
      <td>
        <span><button mat-raised-button (click)="getOpenAMDetails()">Get</button></span>
      </td>
    </tr>
    <!--tr>
      <td><h2>OpenAM  Cookie: </h2></td>
      <td> <textarea>{{ newTokens }}</textarea></td>
      <td><span><button mat-raised-button (click)="getOpenAMDetails()">Get</button></span></td>
    </tr-->
  </table>


  <br>
  <br>
  <br>
  <br>

  <table>
    <tr>
      <td>
        <button style="color: chocolate;" mat-raised-button>client_credentials</button> 
      </td>
      <td>
        <button style="color: chocolate;" mat-raised-button>auth code</button> 
      </td>
      <td>
        <button style="color: chocolate;" mat-raised-button>pkce</button> 
      </td>
      <td>
        <button style="color: chocolate;" mat-raised-button>implicit</button> 
      </td>
    </tr>
  </table>

  <router-outlet *ngIf="token"></router-outlet>

</div>




